$primary-colour: #009688;

$base-font-colour: #212121;
$base-font-family: 'Roboto Condensed', sans-serif;
$base-font-size-large: 16px;
$base-line-height-large: 1.5;
$base-font-size-medium: 15px;
$base-line-height-medium: 1.45;
$base-font-size-small: 14px;
$base-line-height-small: 1.4;
$base-font-weight: 400;

$transition-in: 150ms;
$transition-out: 400ms;

$navigation-bar-height: 60px;

$largest-small-device: 768px;
$largest-medium-device: 1024px;
$gutter: 48px;
$gutter-small: 24px;
