.site-navigation {
  position: sticky;
  top: 0;

  background-color: #212121;

  z-index: 2;

  section {
    -ms-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
  }

  a {
    margin-left: 30px;

    display: inline-block;

    color: #FFF;
    text-decoration: none;
    line-height: 60px;
  }
}